# Django 
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak 

# Python
*.py[cod]
*$py.class

# Distribution / packaging
.python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest 
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter notebook
.ipynb_checkpoints

# Pyenv
.python-version

# Celery 
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site 

# mypy
.mypy_cache/

# Sublime text
*.tmlanguage.cache 
*.tmPreferences.cache
*.stTheme.cache
*.sublime.workspace
*.sublime-project

# Sftp configuration file
sftp-config.json

# Package control specific files package
control.last-run
control.ca-list
control.ca-bundle
control.system-ca-bundle
GitHub.sublime-settings

# Visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Personal additions
__pycache__/
*.pyc
__localcode
venv
env
.DS_Store
local_settings.py 
_local_settings.py 
static/

# add again for course porpuse
!db.sqlite3